.form-controls {
    display: flex !important;
    flex-direction: column;
    justify-content: center;

}

.bg-blur {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 500px;
}

.form-data {

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 12px;
    transition: 120ms;
}

.submit-btn:hover {
    transform: scale(1.02);
    background-color: #8d8f8d;
}

@media (max-width: 600px) {
    .bg-blur {
        width: 100% !important;
    }

    .form-data {
        width: 100% !important;
        padding: 0px;
    }
}